RewriteEngine On

RewriteRule ^login			 sign_in.php [NC,L]
RewriteRule ^dashboard			 dashboard.php [NC,L]
RewriteRule ^success			 reg_success.php [NC,L]
RewriteRule ^register			 register.php [NC,L]
RewriteRule ^add_institute		 add_institute.php [NC,L]
RewriteRule ^add_product		 add_product.php [NC,L]
RewriteRule ^comments			 comments.php [NC,L]
RewriteRule ^edit_contact		 edit_contact.php [NC,L]
RewriteRule ^edit_institute		 edit_institute.php [NC,L]
RewriteRule ^edit_product		 edit_product.php [NC,L]
RewriteRule ^institute_list		 institute_list.php [NC,L]
RewriteRule ^map			 map.php [NC,L]
RewriteRule ^my_profile			 my_profile.php [NC,L]
RewriteRule ^page_details		 page_details.php [NC,L]
RewriteRule ^product_list		 product_list.php [NC,L]
RewriteRule ^references			 references.php [NC,L]
RewriteRule ^reset_password		 resetpassword.php [NC,L]
RewriteRule ^crop                crop.php [NC,L]
